*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f7f02c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 300px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #38d433af;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

strong {
    font-weight: bold;
}

footer {
    background-color: #38d433af;
    
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    position: sticky;
    margin: 0 10px;
}

footer img {
    max-width: 40px;
    height: auto;
}